<div class="card dashboardCard w-50 m-3">
  <div class="card-header">
    Posted by
    {{user.username}}
  </div>
  <div class="card-body">
    <button
      id="{{id}}"
      class="btn btn-link p-0 text-decoration-none viewBlogPost"
    ><h5 class="card-title">{{title}}</h5></button>
    <p class="card-text">{{description}}</p>
    <small>Created {{formatDate createdAt}}</small>
    <div class="d-flex justify-content-between">
      <a href="/dashboard/edit/{{id}}"><button
          type="button"
          id="{{id}}"
          class="btn btn-success"
        >Edit</button></a>
      <button
        type="button"
        id="{{id}}"
        name="delete-btn"
        class="btn btn-danger"
      >Delete</button>
    </div>
  </div>

</div>