<div class="card w-25">
  <div class="card-header">
    Posted by
    {{user.username}}
  </div>
  <div class="card-body">
    <button
      id="{{id}}"
      class="btn btn-link p-0 text-decoration-none viewBlogPost"
    ><h5 class="card-title">{{title}}</h5></button>
    <p class="card-text">{{description}}</p>
    <small>Created {{formatDate createdAt}}</small>
  </div>
</div>