{{> privateNavbar}}

<div class="d-flex flex-wrap justify-content-evenly p-4">
<div class="card w-50">
  <div class="card-header">
    Posted by {{formattedBlogPost.user.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{formattedBlogPost.title}}</h5>
    <p class="card-text">{{formattedBlogPost.description}}</p>
    <small>Created {{formatDate formattedBlogPost.createdAt}}</small>
    <div class="comments pt-4">
      <h6>Comments:</h6>
      {{#each formattedComments as |comment|}}
      {{> comments}}
      {{/each}}
    </div>
  </div>
</div>
</div>
<div class="d-flex flex-wrap justify-content-evenly p-3 text-center">
  <form class="mb-3 w-50" id="newComment">
    <label for="exampleFormControlTextarea1" class="form-label">Enter a comment:</label>
    <textarea class="form-control" id="commentText" rows="3"></textarea>
    <div class="col-auto mt-4">
      <button type="submit" class="btn btn-primary mb-3 w-25" id="{{id}}" name="comment-btn">Post</button>
    </div>
  </form>
  
</div>